
<ion-row>
  <ion-col class="ion-text-center" >
    <h3>Seleccione Avatar</h3>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col>
    <ion-slides [options]="avatarSliderOpts">
      <ion-slide *ngFor="let avatar of avatars">
        <ion-img
          (click)="seleccionarAvatar( avatar) "
          class="pick-avatar"
          src="/assets/avatars/{{ avatar.img }}"
          [ngClass]="{ 'pick-avatar-seleccionado' : avatar.seleccionado }"
        ></ion-img>
      </ion-slide>
    </ion-slides>
  </ion-col>
</ion-row>
